language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "nightly"
  - "pypy"
  - "pypy3"
# command to install dependencies
install:
  - "pip install -r travis_requirements.txt"
  - "python setup.py install"
# command to run tests
script: coverage run --source=datatables -m pytest -v
after_success: coveralls
